body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

section {
  padding: 25px;
  margin: 20px;
}

nav {
  background: rgb(12, 12, 12);
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  color: rgb(224, 224, 224);
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid rgb(32, 32, 32);
  padding: 10px 0 10px 0;
}

@media (max-width: 600px) {
  p {
    color: red;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}
